In [1]:
%load_ext dotenv
%dotenv -o

import os
os.environ["POLYGON_DATA_DIR"]

'/media/mirror/files.polygon.io'

In [2]:
from zipline_polygon_bundle import get_ticker_universe
from zipline_polygon_bundle.config import PolygonConfig

# from zipline_polygon_bundle import date_to_path, trades_schema, cast_trades, custom_aggs_schema, custom_aggs_partitioning, generate_csv_trades_tables, trades_to_custom_aggs
# from zipline_polygon_bundle import get_custom_aggs_dates

from typing import Iterator, Tuple

import pandas as pd
import plotly.graph_objs as go

import pyarrow as pa
from pyarrow import dataset as pa_ds
from pyarrow import compute as pa_compute
from pyarrow import compute as pc
from pyarrow import parquet as pa_parquet

from fsspec.implementations.arrow import ArrowFSWrapper

import os

import datetime
import pandas_market_calendars
import numpy as np

import resource

from itables import show

In [3]:
if not "CUSTOM_ASSET_FILES_DIR" in os.environ:
    os.environ["CUSTOM_ASSET_FILES_DIR"]= "/home/jovyan/data"

if not "POLYGON_TICKERS_DIR" in os.environ:
    os.environ["POLYGON_TICKERS_DIR"]= "/home/jovyan/data/tickers"

config = PolygonConfig(
    environ=os.environ,
    calendar_name="NYSE",
    start_date="2018-01-01",
    end_date="2023-12-31",
    agg_time="1min",
)

pd.set_option('display.width', 250)

# print(f"{config.minute_aggs_dir=}")
# print(f"{config.trades_dir=}")
print(f"{config.custom_aggs_dir=}")
# print(f"{config.aggs_dir=}")
# print(f"{config.by_ticker_dir=}")
print(f"{config.tickers_csv_path=}")

config.custom_aggs_dir='/home/jovyan/data/60sec_aggs'
config.tickers_csv_path='/home/jovyan/data/tickers/tickers_2018-01-01_2023-12-31.csv'

In [4]:
tickers = get_ticker_universe(config, fetch_missing=True)
tickers

tickers_csv_path='/home/jovyan/data/tickers/tickers_2018-01-01_2023-12-31.csv'
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 49789 entries, ('CpP', 'XNYS', '0000831001', 'PFD', nan, True) to ('ZZrw', 'XNYS', '0000748015', 'RIGHT', nan, False)
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   start_date        49789 non-null  datetime64[ns]
 1   end_date          49789 non-null  datetime64[ns]
 2   last_updated_utc  49789 non-null  object
 3   name              49789 non-null  object
 4   share_class_figi  49789 non-null  object
 5   delisted_utc      49789 non-null  object
 6   currency_name     49789 non-null  object
 7   locale            49789 non-null  object
 8   market            49789 non-null  object
dtypes: datetime64[ns](2), object(7)
memory usage: 6.3+ MB

                                                                 start_date   end_date last_updated_utc                                           name share_class_figi  delisted_utc currency_name locale    market
ticker primary_exchange cik        type    composite_figi active
CpP    XNYS             0000831001 PFD     NaN            True   2018-01-02 2018-01-02       2024-12-03                                [Citigroup Inc]               []            []         [usd]   [us]  [stocks]
XKII   ARCX             0001081019 NaN     BBG00JHNY9Z4   True   2018-01-02 2018-01-02       2024-12-03       [SPDR Kensho Intelligent Structures ETF]   [BBG00JHNYBP0]            []         [usd]   [us]  [stocks]
XKST   ARCX             0001081019 NaN     BBG00JHP5PG6   True   2018-01-02 2018-01-02       2024-12-03               [SPDR Kensho Smart Mobility ETF]   [BBG00JHP5Q56]            []         [usd]   [us]  [stocks]
LDRS   ARCX             0001415726 NaN     UNKNOWN        True   2018-01-02 2018-01-02       2024-12-03               [Innovator IBD� ETF Leaders ETF]        [UNKNOWN]            []         [usd]   [us]  [stocks]
XKFS   ARCX             0001081019 NaN     BBG00JHP6203   True   2018-01-02 2018-01-02       2024-12-03              [SPDR Kensho Future Security ETF]   [BBG00JHP62Q5]            []         [usd]   [us]  [stocks]
...                                                                     ...        ...              ...                                            ...              ...           ...           ...    ...       ...
GOEV   XNAS             0001750153 CS      BBG00NBK0GC3   True   2020-12-22 2023-12-29       2024-12-03              [Canoo Inc. Class A Common Stock]   [BBG00NBK0H68]            []         [usd]   [us]  [stocks]
GOEVW  XNAS             0001750153 WARRANT BBG00NWRF3R2   True   2020-12-22 2023-12-29       2024-12-03                           [Canoo Inc. Warrant]               []            []         [usd]   [us]  [stocks]
GOEX   ARCX             0001432353 ETF     BBG0018HBWX2   True   2018-01-02 2023-12-29       2024-12-03            [Global X Gold Explorers ETF (NEW)]   [BBG001TF8DG8]            []         [usd]   [us]  [stocks]
GOOD.N XNAS             0001234006 NaN     NaN            False  2018-01-02 2023-12-29       2016-08-19         [GLADSTONE COML CORP PFD SER C 7.125%]               []  [2016-08-19]         [usd]   [us]  [stocks]
ZZrw   XNYS             0000748015 RIGHT   NaN            False  2018-01-02 2023-12-29       2009-05-28  [SEALY CORPORATION RTS W.I. EXP 6-25-09 (DE)]               []  [2009-05-28]         [usd]   [us]  [stocks]

[49789 rows x 9 columns]

In [5]:
tickers = get_ticker_universe(config, fetch_missing=True)
tickers

tickers_csv_path='/home/jovyan/data/tickers/tickers_2018-01-01_2023-12-31.csv'
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 49789 entries, ('CpP', 'XNYS', '0000831001', 'PFD', nan, True) to ('ZZrw', 'XNYS', '0000748015', 'RIGHT', nan, False)
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   start_date        49789 non-null  datetime64[ns]
 1   end_date          49789 non-null  datetime64[ns]
 2   last_updated_utc  49789 non-null  object
 3   name              49789 non-null  object
 4   share_class_figi  49789 non-null  object
 5   delisted_utc      49789 non-null  object
 6   currency_name     49789 non-null  object
 7   locale            49789 non-null  object
 8   market            49789 non-null  object
dtypes: datetime64[ns](2), object(7)
memory usage: 6.3+ MB

                                                                 start_date   end_date last_updated_utc                                           name share_class_figi  delisted_utc currency_name locale    market
ticker primary_exchange cik        type    composite_figi active
CpP    XNYS             0000831001 PFD     NaN            True   2018-01-02 2018-01-02       2024-12-03                                [Citigroup Inc]               []            []         [usd]   [us]  [stocks]
XKII   ARCX             0001081019 NaN     BBG00JHNY9Z4   True   2018-01-02 2018-01-02       2024-12-03       [SPDR Kensho Intelligent Structures ETF]   [BBG00JHNYBP0]            []         [usd]   [us]  [stocks]
XKST   ARCX             0001081019 NaN     BBG00JHP5PG6   True   2018-01-02 2018-01-02       2024-12-03               [SPDR Kensho Smart Mobility ETF]   [BBG00JHP5Q56]            []         [usd]   [us]  [stocks]
LDRS   ARCX             0001415726 NaN     UNKNOWN        True   2018-01-02 2018-01-02       2024-12-03               [Innovator IBD� ETF Leaders ETF]        [UNKNOWN]            []         [usd]   [us]  [stocks]
XKFS   ARCX             0001081019 NaN     BBG00JHP6203   True   2018-01-02 2018-01-02       2024-12-03              [SPDR Kensho Future Security ETF]   [BBG00JHP62Q5]            []         [usd]   [us]  [stocks]
...                                                                     ...        ...              ...                                            ...              ...           ...           ...    ...       ...
GOEV   XNAS             0001750153 CS      BBG00NBK0GC3   True   2020-12-22 2023-12-29       2024-12-03              [Canoo Inc. Class A Common Stock]   [BBG00NBK0H68]            []         [usd]   [us]  [stocks]
GOEVW  XNAS             0001750153 WARRANT BBG00NWRF3R2   True   2020-12-22 2023-12-29       2024-12-03                           [Canoo Inc. Warrant]               []            []         [usd]   [us]  [stocks]
GOEX   ARCX             0001432353 ETF     BBG0018HBWX2   True   2018-01-02 2023-12-29       2024-12-03            [Global X Gold Explorers ETF (NEW)]   [BBG001TF8DG8]            []         [usd]   [us]  [stocks]
GOOD.N XNAS             0001234006 NaN     NaN            False  2018-01-02 2023-12-29       2016-08-19         [GLADSTONE COML CORP PFD SER C 7.125%]               []  [2016-08-19]         [usd]   [us]  [stocks]
ZZrw   XNYS             0000748015 RIGHT   NaN            False  2018-01-02 2023-12-29       2009-05-28  [SEALY CORPORATION RTS W.I. EXP 6-25-09 (DE)]               []  [2009-05-28]         [usd]   [us]  [stocks]

[49789 rows x 9 columns]

# Test Tickers
Need to use is_test from the Ticker Details JSON response because it isn't in their model class.

https://www.nasdaqtrader.com/Trader.aspx?id=SymbolDirDefs

https://github.com/polygon-io/client-python/blob/master/polygon/rest/models/tickers.py#L87

Also Ticker Details works for the base symbol but not always for the extensions:
This works:
https://api.polygon.io/v3/reference/tickers/ATEST.A?apiKey=$POLYGON_API_KEY
But not this:
https://api.polygon.io/v3/reference/tickers/NTEST.B?date=2022-10-19&apiKey=$POLYGON_API_KEY

Does this deal with test tickers?
https://alpaca.markets/sdks/python/api_reference/trading/models.html#alpaca.trading.models.Asset.tradable

In [6]:
[ticker for ticker in tickers.index.get_level_values('ticker').to_list() if "TEST" in ticker]

['NTEST.C',
 'NTEST.B',
 'NTEST.A',
 'NTEST',
 'ATEST',
 'ATEST.A',
 'ATEST.B',
 'ATEST.C']

In [7]:
tickers[tickers.index.get_level_values('ticker').str.contains("TEST")].sort_index()

                                                               start_date   end_date last_updated_utc    name share_class_figi  delisted_utc currency_name locale    market
ticker  primary_exchange cik        type composite_figi active
ATEST   XASE             0001415311 NaN  BBG000Q2HK03   False  2018-01-02 2023-12-29       2016-10-25  [None]   [BBG001S6X7W6]  [2016-10-25]         [usd]   [us]  [stocks]
ATEST.A XASE             NaN        NaN  NaN            False  2018-01-02 2023-12-29       2016-10-25  [None]               []  [2016-10-25]         [usd]   [us]  [stocks]
ATEST.B XASE             0000849998 NaN  NaN            False  2018-01-02 2023-12-29       2016-10-25  [None]               []  [2016-10-25]         [usd]   [us]  [stocks]
ATEST.C XASE             0000860188 NaN  NaN            False  2018-01-02 2023-12-29       2016-10-25  [None]               []  [2016-10-25]         [usd]   [us]  [stocks]
NTEST   XNYS             0001515980 NaN  NaN            False  2018-01-02 2023-12-29       2016-10-25  [None]               []  [2016-10-25]         [usd]   [us]  [stocks]
NTEST.A XNYS             0001566897 NaN  NaN            False  2018-01-02 2023-12-29       2016-10-25  [None]               []  [2016-10-25]         [usd]   [us]  [stocks]
NTEST.B XNYS             0000807884 NaN  NaN            False  2018-01-02 2023-12-29       2016-10-25  [None]               []  [2016-10-25]         [usd]   [us]  [stocks]
NTEST.C XNYS             0000805264 NaN  NaN            False  2018-01-02 2023-12-29       2016-10-25  [None]               []  [2016-10-25]         [usd]   [us]  [stocks]

In [8]:
tickers[tickers.index.get_level_values('ticker').str.contains("ZZT")].sort_index()

Empty DataFrame
Columns: [start_date, end_date, last_updated_utc, name, share_class_figi, delisted_utc, currency_name, locale, market]
Index: []

In [13]:
table = pa_parquet.read_table("/home/jovyan/data/60sec_aggs/year=2024/month=12/date=2024-12-23/part-0.parquet")
table

pyarrow.Table
ticker: string not null
window_start: timestamp[ns, tz=UTC]
open: double
high: double
low: double
close: double
total: double
volume: int64
transactions: int64
vwap: double
year: dictionary<values=int32, indices=int32, ordered=0>
month: dictionary<values=int32, indices=int32, ordered=0>
date: dictionary<values=string, indices=int32, ordered=0>
----
ticker: [["RUM","RUN","RZLV","SAIC","SBUX",...,"ZSL","ZTAX","ZTEST","ZTST","ZVOL"],["XLI","XLV","XMTR","XOM","XP",...,"TWM","TXN","U","UAVS","UBER"],...,["ACIU","ACIW","ACLS","ACLX","ACMR",...,"UNIT","UNL","UNM","UNP","UP"],["RBB","RBBN","RBC","RBLX","RBRK",...,"FFSM","FFTY","FFWM","FG","FGEN"]]
window_start: [[2024-12-24 00:49:00.000000000Z,2024-12-24 00:49:00.000000000Z,2024-12-24 00:49:00.000000000Z,2024-12-24 00:49:00.000000000Z,2024-12-24 00:49:00.000000000Z,...,2024-12-24 01:00:00.000000000Z,2024-12-24 01:00:00.000000000Z,2024-12-24 01:00:00.000000000Z,2024-12-24 01:00:00.000000000Z,2024-12-24 01:00:00.000000000Z],[2024-12-23 13:15:00.000000000Z,2024-12-23 13:15:00.000000000Z,2024-12-23 13:15:00.000000000Z,2024-12-23 13:15:00.000000000Z,2024-12-23 13:15:00.000000000Z,...,2024-12-23 14:03:00.000000000Z,2024-12-23 14:03:00.000000000Z,2024-12-23 14:03:00.000000000Z,2024-12-23 14:03:00.000000000Z,2024-12-23 14:03:00.000000000Z],...,[2024-12-23 16:37:00.000000000Z,2024-12-23 16:37:00.000000000Z,2024-12-23 16:37:00.000000000Z,2024-12-23 16:37:00.000000000Z,2024-12-23 16:37:00.000000000Z,...,2024-12-23 16:44:00.000000000Z,2024-12-23 16:44:00.000000000Z,2024-12-23 16:44:00.000000000Z,2024-12-23 16:44:00.000000000Z,2024-12-23 16:44:00.000000000Z],[2024-12-23 19:50:00.000000000Z,2024-12-23 19:50:00.000000000Z,2024-12-23 19:50:00.000000000Z,2024-12-23 19:50:00.000000000Z,2024-12-23 19:50:00.000000000Z,...,2024-12-23 19:58:00.000000000Z,2024-12-23 19:58:00.000000000Z,2024-12-23 19:58:00.000000000Z,2024-12-23 19:58:00.000000000Z,2024-12-23 19:58:00.000000000Z]]
open: [[13.07,10.03,3.27,111.7,87.49,...,39.77,26.78,8662.955,40.17,19.2],[132.88,137.26,42.3,105.56,12.07,...,44.17,186.52,22.56,3.44,60.96],...,[2.72,51.8,70.19,74.935,15.08,...,5.575,7.75,72.265,225.77,1.745],[20.66,4.16,303.995,59.55,67.57,...,26.92,29.82,5.98,41.54,0.475]]
high: [[13.07,10.03,3.27,111.7,87.49,...,39.77,26.78,8662.955,40.17,19.2],[132.88,137.26,42.33,105.56,12.07,...,44.17,186.55,22.57,3.45,60.96],...,[2.72,51.8,70.19,74.935,15.08,...,5.575,7.75,72.295,225.83,1.75],[20.66,4.16,303.995,59.56,67.58,...,26.92,29.82,5.98,41.56,0.475]]
low: [[13.07,10.03,3.27,111.7,87.49,...,39.77,26.78,8662.955,40.17,19.2],[132.88,137.21,42.3,105.56,12.07,...,44.17,186.52,22.53,3.43,60.96],...,[2.72,51.8,70.11,74.935,15.08,...,5.575,7.75,72.26,225.77,1.745],[20.66,4.16,303.995,59.49,67.47,...,26.92,29.82,5.97,41.54,0.475]]
close: [[13.07,10.03,3.27,111.7,87.49,...,39.77,26.78,8662.955,40.17,19.2],[132.88,137.21,42.32,105.56,12.07,...,44.17,186.55,22.53,3.43,60.96],...,[2.72,51.8,70.11,74.935,15.08,...,5.575,7.75,72.295,225.83,1.745],[20.66,4.16,303.995,59.52,67.47,...,26.92,29.82,5.97,41.55,0.475]]
total: [[5881.5,5015,7916.67,335.1,1399.84,...,3977.0000000000005,2678,866295.5,4017,1920],[199320,4666.14,3976.39,1055.6,84.49000000000001,...,132.51,37307,3044.34,948.8399999999999,6339.84],...,[65.28,2486.3999999999996,41445.01000000001,74.935,7328.88,...,55.75,775,35919.915,144737.27,698.5],[20.66,20.8,303.995,96232.28999999998,245623.05000000002,...,134.60000000000002,2982,1289.68,290.85,5.699999999999999]]
volume: [[450,500,2421,3,16,...,100,100,100,100,100],[1500,34,94,10,7,...,3,200,135,276,104],...,[24,48,591,1,486,...,10,100,497,641,400],[1,5,1,1616,3638,...,5,100,216,7,12]]
transactions: [[2,1,2,1,1,...,1,1,1,1,1],[1,4,5,2,1,...,1,5,12,5,3],...,[1,5,15,1,7,...,2,1,16,16,4],[1,1,1,38,47,...,2,2,3,3,1]]
vwap: [[13.07,10.03,3.27,111.7,87.49,...,39.77,26.78,8662.955,40.17,19.2],[132.88,137.2394117647059,42.302021276595745,105.55999999999999,12.070000000000002,...,44.169999999999995,186.535,22.550666666666668,3.4378260869565214,60.96],...,[2.72,51.79999999999999,70.12692047377328,74.935,15.08,...,5.575,7.75,72.2734708249497,225.79917316692666,1.74625],[20.66,4.16,303.995,59.54968440594058,67.5159565695437,...,26.920000000000005,29.82,5.970740740740741,41.550000000000004,0.4749999999999999]]
...

In [14]:
table.to_pandas()

        ticker              window_start     open     high      low    close    total  volume  transactions        vwap  year month        date
0          RUM 2024-12-24 00:49:00+00:00   13.070   13.070   13.070   13.070  5881.50     450             2   13.070000  2024    12  2024-12-23
1          RUN 2024-12-24 00:49:00+00:00   10.030   10.030   10.030   10.030  5015.00     500             1   10.030000  2024    12  2024-12-23
2         RZLV 2024-12-24 00:49:00+00:00    3.270    3.270    3.270    3.270  7916.67    2421             2    3.270000  2024    12  2024-12-23
3         SAIC 2024-12-24 00:49:00+00:00  111.700  111.700  111.700  111.700   335.10       3             1  111.700000  2024    12  2024-12-23
4         SBUX 2024-12-24 00:49:00+00:00   87.490   87.490   87.490   87.490  1399.84      16             1   87.490000  2024    12  2024-12-23
...        ...                       ...      ...      ...      ...      ...      ...     ...           ...         ...   ...   ...         ...
1972232   FFSM 2024-12-23 19:58:00+00:00   26.920   26.920   26.920   26.920   134.60       5             2   26.920000  2024    12  2024-12-23
1972233   FFTY 2024-12-23 19:58:00+00:00   29.820   29.820   29.820   29.820  2982.00     100             2   29.820000  2024    12  2024-12-23
1972234   FFWM 2024-12-23 19:58:00+00:00    5.980    5.980    5.970    5.970  1289.68     216             3    5.970741  2024    12  2024-12-23
1972235     FG 2024-12-23 19:58:00+00:00   41.540   41.560   41.540   41.550   290.85       7             3   41.550000  2024    12  2024-12-23
1972236   FGEN 2024-12-23 19:58:00+00:00    0.475    0.475    0.475    0.475     5.70      12             1    0.475000  2024    12  2024-12-23

[1972237 rows x 13 columns]

In [11]:
table = pa_parquet.read_table("/home/jovyan/data/60sec_aggs_signals/year=2022/month=9/date=2022-09-02/part-0.parquet")
table

pyarrow.Table
open: double
high: double
low: double
close: double
total: double
volume: double
transactions: double
vwap: double
TP: double
ret1bar: double
ret2bar: double
ret3bar: double
ret4bar: double
ret5bar: double
ret6bar: double
ret7bar: double
ret8bar: double
ret9bar: double
ret10bar: double
ret11bar: double
ret12bar: double
ret13bar: double
NATR: double
taCCI: double
CCI: double
MFI: double
STOCHk: double
STOCHd: double
STOCHh: double
ticker: string
window_start: timestamp[ns, tz=UTC]
year: dictionary<values=int32, indices=int32, ordered=0>
month: dictionary<values=int32, indices=int32, ordered=0>
date: dictionary<values=string, indices=int32, ordered=0>
----
open: [[73.64,73.64,73.64,73.64,73.64,...,9.09,9.09,9.09,9.09,9.08],[97.01,97.01,97.01,97.01,97.01,...,14.65,14.65,14.65,14.65,14.65],...,[14.22,14.22,14.22,14.22,14.22,...,24.22,24.22,24.22,24.22,24.22],[38.72,38.72,38.72,38.72,38.72,...,73.66,73.66,73.66,73.64,73.64]]
high: [[73.64,73.64,73.64,73.64,73.64,...,9.09,9.09,9.09,9.09,9.08],[97.01,97.01,97.01,97.01,97.01,...,14.65,14.65,14.65,14.65,14.65],...,[14.22,14.22,14.22,14.22,14.22,...,24.22,24.22,24.22,24.22,24.22],[38.72,38.72,38.72,38.72,38.72,...,73.66,73.66,73.66,73.64,73.64]]
low: [[73.64,73.64,73.64,73.64,73.64,...,9.09,9.09,9.09,9.09,9.06],[96.9,97.01,97.01,97.01,97.01,...,14.65,14.65,14.65,14.65,14.65],...,[14.22,14.22,14.22,14.22,14.22,...,24.22,24.22,24.22,24.22,24.22],[38.72,38.72,38.72,38.72,38.72,...,73.66,73.66,73.65,73.64,73.64]]
close: [[73.64,73.64,73.64,73.64,73.64,...,9.09,9.09,9.09,9.09,9.06],[97.01,97.01,97.01,97.01,97.01,...,14.65,14.65,14.65,14.65,14.65],...,[14.22,14.22,14.22,14.22,14.22,...,24.22,24.22,24.22,24.22,24.22],[38.72,38.72,38.72,38.72,38.72,...,73.66,73.66,73.65,73.64,73.64]]
total: [[0,0,0,0,0,...,0,0,0,0,798.32],[5818.400000000001,0,0,0,0,...,0,0,0,0,0],...,[0,0,0,0,0,...,0,0,0,0,0],[0,0,0,0,0,...,0,0,44191,29456,0]]
volume: [[0,0,0,0,0,...,0,0,0,0,88],[60,0,0,0,0,...,0,0,0,0,0],...,[0,0,0,0,0,...,0,0,0,0,0],[0,0,0,0,0,...,0,0,600,400,0]]
transactions: [[0,0,0,0,0,...,0,0,0,0,2],[5,0,0,0,0,...,0,0,0,0,0],...,[0,0,0,0,0,...,0,0,0,0,0],[0,0,0,0,0,...,0,0,3,4,0]]
vwap: [[73.64,73.64,73.64,73.64,73.64,...,9.09,9.09,9.09,9.09,9.071818181818182],[96.97333333333334,97.01,97.01,97.01,97.01,...,14.65,14.65,14.65,14.65,14.65],...,[14.22,14.22,14.22,14.22,14.22,...,24.22,24.22,24.22,24.22,24.22],[38.72,38.72,38.72,38.72,38.72,...,73.66,73.66,73.65166666666667,73.64,73.64]]
TP: [[73.64,73.64,73.64,73.64,73.64,...,9.09,9.09,9.09,9.09,9.066666666666668],[96.97333333333334,97.01,97.01,97.01,97.01,...,14.65,14.65,14.65,14.65,14.65],...,[14.22,14.22,14.22,14.22,14.22,...,24.22,24.22,24.22,24.22,24.22],[38.72,38.72,38.72,38.72,38.72,...,73.66,73.66,73.65333333333334,73.64,73.64]]
ret1bar: [[0,0,0,0,0,...,0,0,0,0,-0.0022026431718060735],[0,0,0,0,0,...,0,0,0,0,0],...,[0,0,0,0,0,...,0,0,0,0,0],[0,0,0,0,0,...,0,0,-0.00013575889220729387,0,0]]
...

In [12]:
df = table.to_pandas()
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536240 entries, 0 to 536239
Data columns (total 34 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   open          536240 non-null  float64
 1   high          536240 non-null  float64
 2   low           536240 non-null  float64
 3   close         536240 non-null  float64
 4   total         536240 non-null  float64
 5   volume        536240 non-null  float64
 6   transactions  536240 non-null  float64
 7   vwap          536240 non-null  float64
 8   TP            536240 non-null  float64
 9   ret1bar       536240 non-null  float64
 10  ret2bar       531920 non-null  float64
 11  ret3bar       528955 non-null  float64
 12  ret4bar       526037 non-null  float64
 13  ret5bar       523146 non-null  float64
 14  ret6bar       520273 non-null  float64
 15  ret7bar       517437 non-null  float64
 16  ret8bar       514615 non-null  float64
 17  ret9bar       511810 non-null  float64
 18  ret10bar      509016 non-null  float64
 19  ret11bar      506241 non-null  float64
 20  ret12bar      503477 non-null  float64
 21  ret13bar      500724 non-null  float64
 22  NATR          536240 non-null  float64
 23  taCCI         389989 non-null  float64
 24  CCI           396771 non-null  float64
 25  MFI           536240 non-null  float64
 26  STOCHk        492520 non-null  float64
 27  STOCHd        487110 non-null  float64
 28  STOCHh        487110 non-null  float64
 29  ticker        536240 non-null  object
 30  window_start  536240 non-null  datetime64[ns, UTC]
 31  year          536240 non-null  category
 32  month         536240 non-null  category
 33  date          536240 non-null  category
dtypes: category(3), datetime64[ns, UTC](1), float64(29), object(1)
memory usage: 128.4+ MB

         open   high    low  close    total  volume  transactions       vwap         TP   ret1bar  ...         CCI         MFI      STOCHk     STOCHd     STOCHh  ticker              window_start  year  month        date
0       73.64  73.64  73.64  73.64      0.0     0.0           0.0  73.640000  73.640000  0.000000  ...   28.025191    9.092368   66.666667  74.074074  -7.407407     XLP 2022-09-02 11:55:00+00:00  2022      9  2022-09-02
1       73.64  73.64  73.64  73.64      0.0     0.0           0.0  73.640000  73.640000  0.000000  ...   22.386224    9.092368   66.666667  68.518519  -1.851852     XLP 2022-09-02 11:56:00+00:00  2022      9  2022-09-02
2       73.64  73.64  73.64  73.64      0.0     0.0           0.0  73.640000  73.640000  0.000000  ...   16.214689    9.092368   66.666667  66.666667   0.000000     XLP 2022-09-02 11:57:00+00:00  2022      9  2022-09-02
3       73.64  73.64  73.64  73.64      0.0     0.0           0.0  73.640000  73.640000  0.000000  ...    8.289794    9.092368   66.666667  66.666667   0.000000     XLP 2022-09-02 11:58:00+00:00  2022      9  2022-09-02
4       73.64  73.64  73.64  73.64      0.0     0.0           0.0  73.640000  73.640000  0.000000  ...   -4.444444    9.092368   66.666667  66.666667   0.000000     XLP 2022-09-02 11:59:00+00:00  2022      9  2022-09-02
...       ...    ...    ...    ...      ...     ...           ...        ...        ...       ...  ...         ...         ...         ...        ...        ...     ...                       ...   ...    ...         ...
536235  73.66  73.66  73.66  73.66      0.0     0.0           0.0  73.660000  73.660000  0.000000  ...  155.555556  100.000000  100.000000  66.666667  33.333333     XLP 2022-09-02 11:50:00+00:00  2022      9  2022-09-02
536236  73.66  73.66  73.66  73.66      0.0     0.0           0.0  73.660000  73.660000  0.000000  ...  116.666667  100.000000  100.000000  88.888889  11.111111     XLP 2022-09-02 11:51:00+00:00  2022      9  2022-09-02
536237  73.66  73.66  73.65  73.65  44191.0   600.0           3.0  73.651667  73.653333 -0.000136  ...   76.740741   14.287100   94.444444  98.148148  -3.703704     XLP 2022-09-02 11:52:00+00:00  2022      9  2022-09-02
536238  73.64  73.64  73.64  73.64  29456.0   400.0           4.0  73.640000  73.640000  0.000000  ...   40.159129    9.092368   83.333333  92.592593  -9.259259     XLP 2022-09-02 11:53:00+00:00  2022      9  2022-09-02
536239  73.64  73.64  73.64  73.64      0.0     0.0           0.0  73.640000  73.640000  0.000000  ...   33.781764    9.092368   72.222222  83.333333 -11.111111     XLP 2022-09-02 11:54:00+00:00  2022      9  2022-09-02

[536240 rows x 34 columns]