In [1]:
%load_ext dotenv
%dotenv -o

import os
not not os.environ["POLYGON_API_KEY"]

True

In [2]:
from zipline_polygon_bundle.config import PolygonConfig
from zipline_polygon_bundle import date_to_path, trades_schema, cast_trades, custom_aggs_schema, custom_aggs_partitioning

from typing import Iterator, Tuple

import pandas as pd

import pyarrow as pa
from pyarrow import dataset as pa_ds
from pyarrow import compute as pa_compute
from pyarrow import parquet as pa_parquet

from fsspec.implementations.arrow import ArrowFSWrapper

import os

import datetime
import pandas_market_calendars

from itables import show

In [13]:
if not "CUSTOM_ASSET_FILES_DIR" in os.environ:
    os.environ["CUSTOM_ASSET_FILES_DIR"]= "/home/jovyan/data"

config = PolygonConfig(
    environ=os.environ,
    calendar_name="NYSE",
    start_date="2021-01-01",
    end_date="2021-01-08",
    agg_time="1min",
)

pd.set_option('display.width', 250)

print(f"{config.minute_aggs_dir=}")
print(f"{config.trades_dir=}")
print(f"{config.custom_aggs_dir=}")
print(f"{config.aggs_dir=}")
print(f"{config.by_ticker_dir=}")

config.minute_aggs_dir='/media/mirror/files.polygon.io/flatfiles/us_stocks_sip/minute_aggs_v1'
config.trades_dir='/media/mirror/files.polygon.io/flatfiles/us_stocks_sip/trades_v1'
config.custom_aggs_dir='/home/jovyan/data/60sec_aggs'
config.aggs_dir='/home/jovyan/data/60sec_aggs'
config.by_ticker_dir='/home/jovyan/data/60sec_aggs_by_ticker'

In [4]:
aggs_ds = pa_ds.dataset(config.custom_aggs_dir, schema=custom_aggs_schema(), partitioning=custom_aggs_partitioning())
aggs_ds.schema

ticker: string not null
volume: int64 not null
open: double not null
close: double not null
high: double not null
low: double not null
window_start: timestamp[ns, tz=UTC] not null
transactions: int64 not null
date: date32[day] not null
year: uint16 not null
month: uint8 not null

In [5]:
pa_ds.get_partition_keys(aggs_ds.partition_expression)

{}

In [9]:
for fragment in aggs_ds.get_fragments():
    print(f"{fragment.partition_expression=}")
    print(f"{pa_ds.get_partition_keys(fragment.partition_expression)=}")
    # print(f"{fragment.partition_expression.get_partition_values()=}")
    # print(f"{fragment.physical_schema=}")

fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-03))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 3), 'month': 1, 'year': 2017}
fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-04))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 4), 'month': 1, 'year': 2017}
fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-05))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 5), 'month': 1, 'year': 2017}
fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-06))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 6), 'month': 1, 'year': 2017}

In [19]:
for fragment in aggs_ds.get_fragments():
    print(f"{fragment.partition_expression=}")
    print(f"{pa_ds.get_partition_keys(fragment.partition_expression)=}")
    # print(f"{fragment.physical_schema=}")
    table = fragment.to_table()
    # print(f"{table.slice(length=1)=}")
    # print(f"{table.schema=}")
    # print(f"{table=}")
    df = table.to_pandas()
    df['window_start'] = df['window_start'].dt.tz_convert('EST')
    df.info()
    print(f"{df['window_start'].min()=}")
    print(f"{df['window_start'].max()=}")
    print(df)
    print()

fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-03))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 3), 'month': 1, 'year': 2017}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1545399 entries, 0 to 1545398
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ticker        1545399 non-null  object
 1   volume        1545399 non-null  int64
 2   open          1545399 non-null  float64
 3   close         1545399 non-null  float64
 4   high          1545399 non-null  float64
 5   low           1545399 non-null  float64
 6   window_start  1545399 non-null  datetime64[ns, EST]
 7   transactions  1545399 non-null  int64
dtypes: datetime64[ns, EST](1), float64(4), int64(2), object(1)
memory usage: 94.3+ MB
df['window_start'].min()=Timestamp('2017-01-03 04:00:00-0500', tz='EST')
df['window_start'].max()=Timestamp('2017-01-03 20:00:00-0500', tz='EST')
        ticker  volume      open     close      high       low              window_start  transactions
0          AAL      82   46.6000   46.6000   46.6000   46.6000 2017-01-03 04:00:00-05:00             2
1         AAPL      43  116.0000  115.9000  116.0000  115.9000 2017-01-03 04:00:00-05:00             4
2          ABX     240   16.0900   16.0900   16.0900   16.0900 2017-01-03 04:00:00-05:00             1
3         ADSK     900   74.0000   74.0000   74.0000   74.0000 2017-01-03 04:00:00-05:00             5
4          AMD     100   11.4500   11.4500   11.4500   11.4500 2017-01-03 04:00:00-05:00             1
...        ...     ...       ...       ...       ...       ...                       ...           ...
1545394    YXI     100   26.6700   26.6700   26.6700   26.6700 2017-01-03 20:00:00-05:00             2
1545395    YYY     131   18.6000   18.6000   18.6000   18.6000 2017-01-03 20:00:00-05:00             1
1545396   ZMLP     125   19.1087   19.1087   19.1087   19.1087 2017-01-03 20:00:00-05:00             1
1545397   ZROZ     141  109.4811  109.4811  109.4811  109.4811 2017-01-03 20:00:00-05:00             1
1545398    ZSL     100   37.0100   37.0100   37.0100   37.0100 2017-01-03 20:00:00-05:00             1

[1545399 rows x 8 columns]

fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-04))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 4), 'month': 1, 'year': 2017}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512525 entries, 0 to 1512524
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ticker        1512525 non-null  object
 1   volume        1512525 non-null  int64
 2   open          1512525 non-null  float64
 3   close         1512525 non-null  float64
 4   high          1512525 non-null  float64
 5   low           1512525 non-null  float64
 6   window_start  1512525 non-null  datetime64[ns, EST]
 7   transactions  1512525 non-null  int64
dtypes: datetime64[ns, EST](1), float64(4), int64(2), object(1)
memory usage: 92.3+ MB
df['window_start'].min()=Timestamp('2017-01-04 04:00:00-0500', tz='EST')
df['window_start'].max()=Timestamp('2017-01-04 20:00:00-0500', tz='EST')
        ticker  volume      open     close      high       low              window_start  transactions
0         AAPL      30  116.3700  116.3700  116.3700  116.3700 2017-01-04 04:00:00-05:00             1
1          AAU     320    1.0000    1.0000    1.0000    1.0000 2017-01-04 04:00:00-05:00             1
2           AU      32   11.1800   11.1800   11.1800   11.1800 2017-01-04 04:00:00-05:00             1
3          BAC    2500   22.5700   22.6300   22.6300   22.5700 2017-01-04 04:00:00-05:00             9
4         BIDU     300  170.0200  170.0200  170.0200  170.0200 2017-01-04 04:00:00-05:00             5
...        ...     ...       ...       ...       ...       ...                       ...           ...
1512520    YXI     100   26.3500   26.3500   26.3500   26.3500 2017-01-04 20:00:00-05:00             1
1512521    YYY     270   18.6900   18.6900   18.6900   18.6900 2017-01-04 20:00:00-05:00             1
1512522   ZMLP     200   19.3999   19.3999   19.3999   19.3999 2017-01-04 20:00:00-05:00             1
1512523   ZROZ     100  109.9000  109.9000  109.9000  109.9000 2017-01-04 20:00:00-05:00             1
1512524    ZSL     100   36.3400   36.3400   36.3400   36.3400 2017-01-04 20:00:00-05:00             1

[1512525 rows x 8 columns]

fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-05))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 5), 'month': 1, 'year': 2017}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1477447 entries, 0 to 1477446
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ticker        1477447 non-null  object
 1   volume        1477447 non-null  int64
 2   open          1477447 non-null  float64
 3   close         1477447 non-null  float64
 4   high          1477447 non-null  float64
 5   low           1477447 non-null  float64
 6   window_start  1477447 non-null  datetime64[ns, EST]
 7   transactions  1477447 non-null  int64
dtypes: datetime64[ns, EST](1), float64(4), int64(2), object(1)
memory usage: 90.2+ MB
df['window_start'].min()=Timestamp('2017-01-05 04:00:00-0500', tz='EST')
df['window_start'].max()=Timestamp('2017-01-05 20:00:00-0500', tz='EST')
        ticker  volume      open     close      high       low              window_start  transactions
0          ABB     130   21.2900   21.2900   21.2900   21.2900 2017-01-05 04:00:00-05:00             1
1          ABX     200   16.6800   16.6900   16.6900   16.6800 2017-01-05 04:00:00-05:00             2
2           AG     100    8.6200    8.6200    8.6200    8.6200 2017-01-05 04:00:00-05:00             1
3          AUY     383    3.1100    3.1100    3.1100    3.1100 2017-01-05 04:00:00-05:00             3
4          AXP     100   76.3700   76.3700   76.3700   76.3700 2017-01-05 04:00:00-05:00             1
...        ...     ...       ...       ...       ...       ...                       ...           ...
1477442    YYY     100   18.7000   18.7000   18.7000   18.7000 2017-01-05 20:00:00-05:00             1
1477443   ZMLP     500   19.3845   19.3845   19.3845   19.3845 2017-01-05 20:00:00-05:00             1
1477444   ZROZ     163  112.5901  112.5901  112.5901  112.5901 2017-01-05 20:00:00-05:00             1
1477445    ZSL     100   35.5900   35.5900   35.5900   35.5900 2017-01-05 20:00:00-05:00             1
1477446   ZSML     106   25.4500   25.4500   25.4500   25.4500 2017-01-05 20:00:00-05:00             1

[1477447 rows x 8 columns]

fragment.partition_expression=<pyarrow.compute.Expression (((year == 2017) and (month == 1)) and (date == 2017-01-06))>
pa_ds.get_partition_keys(fragment.partition_expression)={'date': datetime.date(2017, 1, 6), 'month': 1, 'year': 2017}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1422243 entries, 0 to 1422242
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ticker        1422243 non-null  object
 1   volume        1422243 non-null  int64
 2   open          1422243 non-null  float64
 3   close         1422243 non-null  float64
 4   high          1422243 non-null  float64
 5   low           1422243 non-null  float64
 6   window_start  1422243 non-null  datetime64[ns, EST]
 7   transactions  1422243 non-null  int64
dtypes: datetime64[ns, EST](1), float64(4), int64(2), object(1)
memory usage: 86.8+ MB
df['window_start'].min()=Timestamp('2017-01-06 04:00:00-0500', tz='EST')
df['window_start'].max()=Timestamp('2017-01-06 20:00:00-0500', tz='EST')
        ticker  volume    open   close    high     low              window_start  transactions
0          ABX    3000   17.28   17.28   17.28   17.28 2017-01-06 04:00:00-05:00             4
1          AUO     320    3.85    3.87    3.87    3.85 2017-01-06 04:00:00-05:00             2
2          AXP       1   75.00   75.00   75.00   75.00 2017-01-06 04:00:00-05:00             1
3         BABA     200   94.00   94.00   94.00   94.00 2017-01-06 04:00:00-05:00             3
4          BAC     153   22.68   22.68   22.68   22.68 2017-01-06 04:00:00-05:00             1
...        ...     ...     ...     ...     ...     ...                       ...           ...
1422238    YXI     100   26.19   26.19   26.19   26.19 2017-01-06 20:00:00-05:00             1
1422239    YYY     200   18.73   18.73   18.73   18.73 2017-01-06 20:00:00-05:00             1
1422240   ZMLP     200   19.49   19.49   19.49   19.49 2017-01-06 20:00:00-05:00             1
1422241   ZROZ     347  110.86  110.86  110.86  110.86 2017-01-06 20:00:00-05:00             2
1422242    ZSL     100   36.05   36.05   36.05   36.05 2017-01-06 20:00:00-05:00             1

[1422243 rows x 8 columns]